.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FEDEC4;
  padding: 7% 5%;
}

.about-content {
  width: 60%;
  color: #222;
  font-family: 'Megante', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.about-title {
  color: black;
  padding: 4px 16px;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 0 30px 40px;
  font-weight: bold;
}

.about-content p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 12px;
  padding: 10px;
  width: 85%;
}

.about-content strong {
  font-weight: bold;
}

.about-media {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 450px; /* Changed to max-height for responsiveness */
  border-radius: 8px;
}

.about-image,
.about-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .about-section {
    flex-direction: column;
    background-color: #FEDEC4;
    padding: 3% 0;
  }

  .about-content {
    width: 90%;
  }

  .about-content p {
    font-size: 80%; /* ~12.8px based on 16px base */
    margin-left: 40px; /* Offset to align with title */
  }

  .about-media {
    width: 70%;
    max-height: auto; /* Reduced for smaller screens */
    padding: 40px 0 40px 0px;
  }

  .about-image,
  .about-video {
    width: 70%;
    height: auto; /* Responsive height */
  }
}
@media (max-width: 960px) {
  .about-section {
    flex-direction: column;
    background-color: #FEDEC4;
    padding: 3% 0;
  }

  .about-content {
    width: 80%;
  }

  .about-content p {
    font-size: 80%; /* ~12.8px based on 16px base */
    margin-left: 40px; /* Offset to align with title */
  }

  .about-media {
    width: 75%;
    max-height: auto; /* Reduced for smaller screens */
    padding: 0px;
  }

  .about-image,
  .about-video {
    width: 70%;
    height: auto; /* Responsive height */
  }
}

@media (max-width: 480px) {
  .about-section {
    background-color: whitesmoke;
    padding-left: 12.75%;
    padding-right: 10%; /* Added for consistency */
  }
}