.cta-section {
  position: relative;
  width: 100%;
  height: 200px;
  /* Adjust as needed */
  background: url('../assets/img/cta.png') no-repeat center center/ cover;
  /* Replace with actual image path */
  display: flex;
  align-items: center;
  justify-content: right;
}

.cta-container {
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.329);
  /* Semi-transparent overlay */
  padding: 20px;
  margin: 30px;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  align-items: center;
  max-width: 38%;
  height: auto;
  font-size: 12%;

}

.cta-text {
  color: #fff;
  flex: 1;
  pad: 20px 20px;

}

.cta-text h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cta-text p {
  font-size: 12px;
  opacity: 0.9;
}

.cta-button {
  max-width: 40%;
  font-size: 0.7rem;
  padding: 15px 10px;
  margin-left: 1.5rem;
}




@media (max-width: 960px) {
  .cta-text h2 {
    font-size: 0.95rem;
    margin-bottom: 9px;
  }

  .cta-text p {
    font-size: 0.65rem;
    opacity: 0.8;
  }

  .cta-button {
    max-width: 100%;
    padding: 7px 7px;
    margin-left: 0rem;
    font-size: 0.6rem;
  }
}

@media (max-width: 768px) {
  .cta-container {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.329);
    /* Semi-transparent overlay */
    padding: 20px;
    margin: 30px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    align-items: center;
    max-width: 20%;
    max-height: 150px;
    font-size: 1% !important;
  }

  .cta-text h2 {
    font-size: 0.8rem;
    margin-bottom: 9px;
  }

  .cta-text p {
    font-size: 0.5rem;
    opacity: 0.8;
  }

  .cta-button {
    max-width: 100%;
    font-size: 0.3rem;
    padding: 5px 5px;
    margin-left: 0rem;
  }
}

@media (max-width: 680px) {
  .cta-container {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.329);
    /* Semi-transparent overlay */
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    align-items: center;
    max-width: 20%;
    max-height: 150px;
    font-size: 1% !important;
  }

  .cta-text h2 {
    font-size: 0.7rem;
  }

  .cta-text p {
    font-size: 0.5rem;
  }

  .cta-button {
    max-width: 100%;
    font-size: 0.3rem;
  }
}